/*-- scss:defaults --*/

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary:  #06436e !default;
$font-family-base:  'Source Sans Pro',  'Lato', 'Merriweather', 'Roboto Regular', 'Cabin Regular' !default;
$body-color: $gray-700 !default;
$headings-font-family:  'Merriweather', 'Roboto', 'Playfair Display', 'Montserrat'    !default;

/*-- scss:rules --*/

#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: "Oleo Script", $headings-font-family;
  font-size: $font-size-base * 3;
}


.navbar-dark .navbar-brand {
  font-family: "Oleo Script", $headings-font-family;
  font-size: $font-size-base * 1.5;
}

.navbar > .container-xxl, .navbar > .container-xl, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container, .navbar > .container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}


div.quarto-post .listing-categories .listing-category {
    color: $white;
    background-color: $primary;
    border: none;
    border-radius: .4em;
    text-transform: none;
}

#title-block-header.quarto-title-block.default .quarto-categories .quarto-category {
    color: $white;
    background-color: $primary;
    border: none;
    border-radius: .4em;
    text-transform: none;
    opacity: 1;
}

#about-me-text{
  align-items: end;
  display: grid;
}